export WEATHER_API_KEY=bb71cabd60ece7072262df4d79b9aea5
export TWITTER_API_KEY=el1ZjVJq2q04goH2SXvoLFqKy
export FANDUEL_API_KEY=
export DRAFTKINGS_API_KEY=
export BET365_API_KEY=
export TWITTER_SECRET=xKMusfIZ2jGTjxl2CCCszzw4gi70AHlpxLidXrMTOn2UrLwqSt
export FLASK_SECRET=MakingGamblingaSINagain!
